block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    meta(property="og:image" content="path/to/image.jpg")
    link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
    //- favicon block end


    //- Chrome, Firefox OS and Opera
    meta(name="theme-color" content="#000")
    //- Windows Phone
    meta(name="msapplication-navbutton-color" content="#000")
    //- iOS Safari
    meta(name="apple-mobile-web-app-status-bar-style" content="#000")


        
    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')
    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    block content
